* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: white;
  color: black;
}

/* HEADER */

header {
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  z-index: 1000;
}

.name {
  font-size: 22px;
  font-weight: 600;
}

/* NAVIGATION */

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  position: relative;
  padding-bottom: 4px;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: black;
  opacity: 0;
}

nav a:hover::after,
nav a.active::after {
  opacity: 1;
}

/* MAIN CONTENT */

main {
  padding-top: 180px;
}

/* WORKS */

.works {
  max-width: 1200px;
  margin: 0 auto;
}

.works img {
  width: 100%;
  display: block;
  margin-bottom: 60px;
}

.works img {
  margin-bottom: 20px;
}

.works video {
  width: 100%;
  display: block;
}

.caption {
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 12px;
  text-align: right;
}

/* TEXT SECTIONS */

.text {
  max-width: 600px;
  margin: 200px auto;
  font-size: 14px;
  line-height: 1.6;
}
